.main-content {
  padding: 10px 0;
  height: 100%;
  background-color: #ECECEC;
}
.main-content li {
  position: relative;
  margin: 10px 0;
}
.room-thumb {
  width: 100%;
  position: relative;
}
.room-thumb .room-price {
  position: absolute;
  bottom: 7%;
  left: 3%;
  color: #fff;
  font-size: 1.3em;
}
.sub-info {
  padding: 15px 0;
  background-color: #fff;
  height: 50px;

}
.sub-info .item-info {
  margin: 0 3%;
  font-size: 1.3em;
}