<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content>

      <div class="bar bar-header bar-dark">
        <a ui-sref="home.starter" class="button icon-left ion-chevron-left button-clear"></a>
        <h1 class="title">Login</h1>
      </div>

    <ion-content class="p-login-signup">
      <form name="login" ng-submit="loginCtrl.login(login)" novalidate>
        <div class="form-center form-signup">
          <h3 class="title">Login with account</h3>

          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Username" name="username" ng-trim="true" ng-model="loginCtrl.loginModel.username" required>
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Password" name="password" ng-trim="true" ng-model="loginCtrl.loginModel.password" required>
            </label>
            <button class="button button-block button-positive">Login</button>
          </div>
          <p class="text-1 text-center">You dont have account? <a ui-sref="home.signup" class="btn-signin">Sign up</a> now</p>
        </div>
      </form>
    </ion-content>
  </ion-side-menu-content>

</ion-side-menus>