<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content>

      <div class="bar bar-header bar-dark">
        <a ui-sref="home.starter" class="button icon-left ion-chevron-left button-clear"></a>
        <h1 class="title">Sign Up</h1>
      </div>

    <ion-content class="p-login-signup">
      <form name="signUp" ng-submit="signupCtrl.signUp(signUp)" novalidate="">
        <div class="form-center form-signup">
          <h3 class="title">New Account</h3>

          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" name="username" placeholder="Username" ng-model="signupCtrl.viewModel.username" required ng-trim="true" ng-minlength="2" maxlength="20" ng-pattern="/^[a-zA-Z 0-9áàảãạăắằẳẵặâấầẩẫậđéèẻẽẹêếềểễệíìỉĩịóòỏõọôốồổỗộơớờởỡợúùủũụưứừửựýỳỷỹỵÁÀẢÃẠĂẮẰẲẴẶÂẤẦẨẪẬĐÉÈẺẼẸÊẾỀỂỄỆÍÌỈĨỊÓÒỎÕỌÔỐỒỔỖỘƠỚỜỞỠỢÚÙỦŨỤƯỨỪỬỰÝỲỶỸỴ]*$/">
            </label>
            <label class="item item-input">
              <input type="text" name="email" placeholder="Email" ng-model="signupCtrl.viewModel.email" required>
            </label>
            <label class="item item-input">
              <input type="password" name="password" placeholder="Password" ng-model="signupCtrl.viewModel.password" required>
            </label>
            <button class="button button-block button-positive" type="submit">Register</button>
          </div>
          <p class="text-1 text-center">Have an account? <a ui-sref="home.login" class="btn-signin" href="/sign-in">Login</a></p>
        </div>
      </form>
    </ion-content>
  </ion-side-menu-content>

</ion-side-menus>